* {
    margin: 0;
    padding: 0;
}

.href-hidden {
    text-decoration: none;
    color: inherit;
}

.rent-contact {
    display: block;
    background-color: rgb(255, 168, 35);
    width: 300px;
    height: 60px;
    border-radius: 25px;
    position: fixed;
    bottom: 50px;
    right: 40px;
    font-family: 'Ristretto Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
    border: none;
    box-shadow: 1px 1px 10px;

    cursor: pointer;
    z-index: 1000;
}

.header-container {
    padding: 40px;
    box-sizing: border-box;
    height: 100vh;

    font-family: 'Ristretto Pro', sans-serif;
    color: #fff;
    background-color: black;
    background-image: linear-gradient(rgba(43, 33, 0, 0.60), rgba(112, 28, 0, 0.60)), url(../jpg/1.jpg);
    background-size: cover;

    position: relative;
}

.header-navbar {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 65%;
    max-width: 1000px;
    min-width: 600px;

    font-size: 30px;
    font-weight: normal;
    list-style-type: none;
    text-transform: uppercase;
}

.header-content-container {
    margin-top: 30vh;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    width: 70%;
}

.header-title {
    font-size: 150px;
    text-align: center;
    text-transform: uppercase;
}

.header-subtitle {
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

.header-paragraph {
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
}

.header-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    animation: icon-down-open-big 2s linear infinite;
}

.icon-down-open-big:before {
    content: '\e808';
    font-size: 40px;
}

@keyframes icon-down-open-big {
    0% {
        top: 70%;
    }
    50% {
        top: 80%;
    }
    100% {
        top: 70%;
    }
}




.rent-title{
    font-family: 'Ristretto Pro', sans-serif;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.rent-gallery {
    width: 100%;
    margin-bottom: 5vh;
    position: relative;
}

.rent-gallery-slider-items {
    margin-right: auto;
    margin-left: auto;
}


.slider-item {
    display: none;
}

.slider-item-active {
    display: block;
    object-fit: cover;
    width: 100%;
}





.slider-arrows-item {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: #eee;
}

.left-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 50%;
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow-left:before {
    font-size: 25px;
    padding-top: 5px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    bottom: 50%;
    transform: rotate(-90deg);
    cursor: pointer;
}

.arrow-right:before {
    font-size: 25px;
    padding-top: 5px;
}

.slider__dots {
    position: absolute;
    bottom: -30px;
    left: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: rgb(193, 192, 192);
    margin-right: 5px;
    cursor: pointer;
}

.slider__dot_active {
    background: #000;
}

.slider__dot:hover {
    background: #000;
}

.rent-description {
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    font-family: 'TT Norms';
    font-size: 20px;
    text-align: center;

    margin-bottom: 100px;
}

.rent-description-text {
    margin-bottom: 35px;
}

.rent-description:before {
    content: "";
    display: block;
    width: 100%;
    background-color: rgba(234, 234, 234, 0.812);
    height: 2px;
    margin-bottom: 20px;
}

.rent-description-price {
    text-align: right;
    font-size: 19px;
    font-weight: 300;
}

.price {
    font-weight: 600;
    font-size: 29px;
}

.about-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    margin-bottom: 250px;
}

.about-logo-img {
    display: block;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.about-text {
    font-family: 'TT Norms';
    text-align: center;
    width: 40%;
    font-size: 30px;
    line-height: 1.5;
    margin-right: auto;
    margin-left: auto;
    
}

.additional {
    background-color: black;
    padding-bottom: 50px;
}

.additional-container {
    width: 100%;
    background-image: linear-gradient(rgba(43, 33, 0, 0.60), rgba(112, 28, 0, 0.60)), url(../jpg/zal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    box-sizing: content-box;

}

.additional-title {
    font-family: 'TT Norms';
    color: #fff;
    font-size: 100px;
    text-align: center;
}

.additional-rent-title {
    margin-top: 40px;

    font-family: 'TT Norms';
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    color: #fff;

    margin-bottom: 100px;
}

h4 {
    font-size: 30px;
}

.additional-rent-list {
    font-family: 'TT Norms';
    color: #fff;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;

    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.additional-rent-list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 2px;
}

.additional-rent-list-item:after {
    content: "";
    display: block;
    background-color: #fff;
    width: 102%;
    height: 1px;
    position: absolute;
    top: auto;
    bottom: -130px;
    right: auto;
    left: auto;

    margin-bottom: 120px;
}


.additional-button-more {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;


    position: relative
}

.additional-button-more:hover {
    background-color: rgb(255, 168, 35);
}

.additional-button-more-active {
    background-color: rgb(255, 168, 35);
}

.button-span {
    margin-top: 13px;
    display: block;
    background-color: #fff;
    border: none;
    width: 25px;
    height: 1px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 20%;
}

.button-span:after {
    content: "";
    display: block;
    background-color: #fff;
    border: none;
    width: 25px;
    height: 1px;
    transform: rotate(90deg);
}

h4 {
    font-size: 22px;
}

.additional-rent-list:before {
    content: "";
    display: block;
    background-color: #fff;
    width: 102%;
    height: 1px;

    margin-bottom: 10px;
}

.additional-rent-sublist-hidden {
    display: none;
}

.button-span-close {
    transform: rotate(45deg);
}

.additional-rent-sublist {
   text-align: left;
}

.additional-rent-sublist-item {
    font-size: 15px;
}

.additional-rent-sublist-item:nth-child(n+2) {
    margin-top: 10px;
}


.social {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.social-title {
    font-family: 'TT Norms';
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
}

.social-text {
    margin-top: 50px;
    font-family: 'TT Norms';
    text-align: center;
    font-size: 20px;
}

.social-link-vk {
    margin-top: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 50px;
}



footer {
    background-color: #000;

    display: flex;
    flex-wrap: wrap;
}

.g-map {
    width: 50vw;
    height: 620px;
}

.adress-container {
    margin-left: 3%;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;

}

.adress {
    font-family: 'TT Norms';
    font-size: 30px;
}

.contact {
    font-family: 'TT Norms';
    font-size: 25px;
}



@media (min-width: 1024px) {
    .header-navbar-mobile {
        display: none;
    }

    .slider-image {
        width: 900px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .rent {
        margin-top: 10vh;
        width: 80%;
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }

    h4 {
        width: 70%;
        text-align: left;
    }
}



@media (min-width: 768px) and (max-width: 1023px) {
    .header-navbar-mobile {
        display: none;
    }

    .slider-image {
        width: 100%;
        margin-top: 5vh;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .rent {
        width: 100%;
    }

    .g-map {
        width: 100vw;
    }
}



@media (max-width: 767px) {
    .hidden {
        display: none;
    }

    .rent-title {
        margin-top: 10px;
        font-size: 40px;
    }

    .rent-description-text {
        font-size: 18px;
    }

    .rent-description-price {
        font-size: 16px;
        text-align: center;
    }

    .price {
        font-size: 20px;
    }

    .header-container {
        width: 100%;
        position: relative;
    }

    .header-navbar {
        display: none;
    }

    .header-navbar-mobile {
        display: block;
        background-color: black;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10px;
    }

    /* Управление меню */

    .header-menu-open-button {
        cursor: pointer;
        border: none;
    }

    .header-menu-close-button {
        cursor: pointer;
        border: none;
    }

    .header-menu-open {
        display: block;
        width: 27px;
        height: 4px;
        background-color: white;

        position: absolute;
        top: 18px;
        right: 17px;
        z-index: 20;
    }

    .header-menu-open:before {
        content: "";
        display: block;
        width: 27px;
        height: 4px;
        background-color: white;

        position: absolute;
        top: 10px;
        right: 0;
        z-index: 20;
    }

    .header-menu-open:after {
        content: "";
        display: block;
        width: 27px;
        height: 4px;
        background-color: white;

        position: absolute;
        top: 20px;
        right: 0;
        z-index: 20;
    }

    .header-menu-close {
        display: block;
        width: 27px;
        height: 4px;
        background-color: white;
        transform: rotate(45deg);

        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 20;
    }

    .header-menu-close:after {
        content: "";
        display: block;
        width: 27px;
        height: 4px;
        background-color: white;
        transform: rotate(-90deg);

        position: absolute;
        top: 20;
        right: 0;
        z-index: 20;
    }


    .mobile-navbar {
        background-color: rgb(255, 168, 35);
        margin-top: 40px;
        padding: 20px;
    }

    .hidden-navbar-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        list-style-type: none;
    }

    .hidden-navbar-list-item:nth-child(n+2) {
        margin-top: 15px;
    }

    .header-content-container {
        margin-top: 20vh;
        width: 90%;
    }

    .header-title {
        font-size: 110px;
    }

    .slider-image {
        margin-top: 2vh;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .slider-arrows-item {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;
        background-color: #eee;
    }

    .arrow-left:before {
        font-size: 15px;
        padding-top: 5px;
    }

    .arrow-right:before {
        font-size: 15px;
        padding-top: 5px;
    }

    .rent-description {
        margin-bottom: 20px;
    }

    .about-container {
        width: 95%;
        margin-bottom: 80px;
    }

    .about-text{
        width: 99%;
        font-size: 25px
    }

    .additional-title {
        font-size: 45px;
    }

    .additional-rent-list {
        width: 95%;
    }

    .additional-button-more {
        margin-top: 0;
        width: 25px;
        height: 25px;
    }

    .button-span {
        width: 15px;
        top: 0;
        right: 20%;
    }

    h4 {
        margin-bottom: 20px;
    }

    .button-span:after {
        width: 15px;
    }


    .about-logo-img {
        width: 300px;
    }

    .social-title {
        font-size: 30px;
    }

    .social-text {
        width: 80%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .g-map {
        width: 100vw;
    }

    .adress {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .contact {
        font-size: 20px;
    }

    .contact:last-child {
        margin-bottom: 10px;
    }

    .rent-contact {
        display: none;
    }
}